{% extends 'index.html' %}
{% block content %}
<div>
    <div class='hometext1'>
    </div>
    <h1 class='hometext'>
        <strong>Isa Hasanli's Blog Site</strong>
    </h1>
    {% comment %} <div class="opak">
        <img src="static\images\Starlight Black_SLAB_web.jpg" alt="">
    </div> {% endcomment %}
    <div class="backgroundphoto">
        <img  width="100%" src="static\images\0_LgP9uEAF-JOV3euN_.png" width alt="">
    </div>
    
    <div class="imageclass d-flex">
        <img width="515"src="static\images\im.jpg" alt="">
        <img width="515" src="static\images\image123.jpg" alt="">
        <img width="515" src="static\images\img123.jpg" alt="">
    </div>
    
</div>
{% endblock content %}